.picture {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

h1 {
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #FBFBFF;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
  text-align: center;
}

.page-container {
  width: 80%;
  margin-top: 5rem;
  margin: auto;
}

nav {
  overflow: hidden;
  float: right;
  padding-left: 150px;
  margin-right: 50px;
  margin-top: 10px;
}

.nav-container {
  flex: 1;
  color: #333;
  font-family: 'Playfair Display', serif;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.nav-container:hover,
.nav-container:focus {
  background-color: #FBFBFF;
  color: black;
  font-weight: bold;
  font-size:large;
}

p {
  margin-right: 150px;
  margin-left: 150px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: larger;
}

.column {
  float: left;
  width: 50%;
}

.column2 {
  margin-left: 300px;
  width: 75%;
  text-align: center;
}