.picture {
  width: 300px;
  border: 1px solid #FBFBFF;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;

  /* centers the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picture:hover {
  filter: brightness(80%);
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 25px;
}

body {
  background-color: #FBFBFF;
  font-family: 'Playfair Display', serif;
  color: black;
}

.page-container {
  width: 80%;
  margin-top: 5rem;
  margin: auto;
  text-align: center;
}

nav {
  overflow: hidden;
  float: right;
  /* padding-left: 150px; */
  margin-right: 50px;
  margin-top: 10px;
}

.nav-container {
  flex: 1;
  color: #333;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
  font-family: 'Playfair Display', serif;
}

.nav-container:hover,
.nav-container:focus {
  background-color: #FBFBFF;
  color: black;
  font-weight: bold;
  font-size:large;
}

.header {
  position: relative;
  display: inline-flex;
  font-size: 35px;
  font-family: 'Nanum Gothic', sans-serif;
}

.box-text {
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 100px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box0 {
  background-color: #8AA399;
}

.box1 {
  background-color: #582630;
}

.box2 {
  background-color: #8FA6CB;
}

.box3 {
  background-color: #BE6E46;
}

.box4 {
  background-color: #7D84B2;
}

.box5 {
  background-color: #475841;
}

.box6 {
  background-color: #363457;
}