.picture {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

.bio-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  gap: 12px;
}

body {
  background-color: #FBFBFF;
  font-family: Poppins, Arial, sans-serif;
  color: black;
}

nav {
  overflow: hidden;
  float: right;
  padding-left: 150px;
}

.nav-container {
  flex: 1;
  color: #333;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.nav-container:hover,
.nav-container:focus {
  background-color: #FBFBFF;
  color: black;
  font-weight: bold;
  font-size:large;
}